#search {
  .item {
    margin-bottom: 15px;
  }
  .add {
    margin-top: 15px;
  }
  .actions {
    margin-top: 15px;
  }
}

#saved_search {
  form {
    display: inline-block;
    margin: 0 10px 10px 0;
  }
}